*~
*.wap
*.user
lib/
qml/
include/
Makefile
.qmake.cache
mkspecs/
src/audioitem/.moc/
src/audioitem/.obj/
src/audioitem/.pch/
cscope.out
tags
examples/*~
examples/*.wap
examples/*.user
examples/bin/
examples/build/
examples/Makefile
