*~
*.wap
*.user
lib/
include/
Makefile
.qmake.cache
mkspecs/
src/audioitem/.moc/
src/audioitem/.obj/
src/audioitem/.pch/
cscope.out
tags
example/*~
example/*.wap
example/*.user
example/bin/
example/build/
example/Makefile
